# Assignment_20

In [ ]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'
test1

'This is a test of the emergency text system'

In [3]:
outfile = open('test.txt', 'wt')
outfile.write(test1)

43

In [5]:
outfile.close()

In [6]:
#2 Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [7]:
with open('test.txt', 'rt') as infile:
     test2 = infile.read()

In [8]:
len(test2)

43

In [9]:
test1 == test2

True

In [ ]:
#both files are same

In [ ]:
#3. Create a CSV file called books.csv by using these lines:

In [12]:
text = '''title,author,year
 The Weirdstone of Brisingamen,Alan Garner,1960
 Perdido Street Station,China Miéville,2000
 Thud!,Terry Pratchett,2005
 The Spellman Files,Lisa Lutz,2007
 Small Gods,Terry Pratchett,1992
 '''

In [13]:
with open('books.csv', 'wt') as outfile:
     outfile.write(text)

In [ ]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [21]:
import sqlite3
import csv

In [15]:
db = sqlite3.connect('books.db')

In [16]:
curs = db.cursor()

In [19]:
curs.execute('''create table books (title text, author text, year int)''')

In [20]:
db.commit()

In [ ]:
#5. Read books.csv and insert its data into the book table.

In [22]:
ins_str = 'insert into books values(?, ?, ?)'

In [23]:
with open('books.csv', 'rt') as infile:
     books = csv.DictReader(infile)
     for book in books:
         curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [24]:
db.commit()

In [ ]:
#6. Select and print the title column from the book table in alphabetical order.

In [25]:
sql = 'select title from books order by title asc'

In [28]:
for row in db.execute(sql):
     print(row[0])

 Perdido Street Station
 Small Gods
 The Spellman Files
 The Weirdstone of Brisingamen
 Thud!

In [ ]:
#7. From the book table, select and print all columns in the order of publication.

In [30]:
for row in db.execute('select * from books order by year'):
     print(row)

(' ', None, None)
(' The Weirdstone of Brisingamen', 'Alan Garner', 1960)
(' Small Gods', 'Terry Pratchett', 1992)
(' Perdido Street Station', 'China Miéville', 2000)
(' Thud!', 'Terry Pratchett', 2005)
(' The Spellman Files', 'Lisa Lutz', 2007)

In [31]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [33]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from books order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

(' ',)
(' Perdido Street Station',)
(' Small Gods',)
(' The Spellman Files',)
(' The Weirdstone of Brisingamen',)
(' Thud!',)

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [36]:
pip install redis

Collecting redis
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
Installing collected packages: redis
Successfully installed redis-3.5.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')

In [ ]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

In [ ]:
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)

In [ ]:
conn.hget('test', 'count')